data/tests/*
Population_PAs_Yearly/*
*.Rproj
.Rproj.user
Todo
Cover_Conserv_Letters_Bedecarrats_2025.docx
data/WDPA_Oct2025_Public*
.github*
config.sh
/.quarto/
**/*.quarto_ipynb
second_review/*
third_review/*
!third_review/Response_reviewer.docx
!third_review/cover letter 3rd review.docx
.gitignore